* {
    margin: 0;
		font-family: 'Bitter', serif;
}

html,body
{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #eae8dc;
}

#header {
    height: 6%;
    width: 100%;
	box-sizing: border-box;
    text-align: center;
    background-color: #699148;
	border-bottom: 4px solid #466031;

}

a.headerText{
		color: #466031;
		text-decoration: none;
}

#search {
    width: 90%;
    margin: 5%;
}

#menu {
    width: 25%;
	box-sizing: border-box;
    min-height: 90%;
    float: left;
    /*background-color: pink;*/
	border-right: 4px solid #466031;
	background: #eae8dc;
}

#loginForm {
    width: 100%;
    margin-top: 10px;
}

#userMenu {
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
    border-top: 3px solid #ceccc0;
	border-bottom: 3px solid #ceccc0;
	text-align: center;
}

.a-login
{
	text-decoration: none;
	color: red;
}

.a-login:hover
{
	color: #ad0808;
}

#menu>ul {
    display: block;
    margin-top: 10px;
    padding-left: 20px;
}

#menu>ul>li {
    margin-top: 2px;
}

#menu>ul>li>a {
    text-decoration: none;
}

.curGatunekLi {
    color: red;
    font-weight: bold;
}

.curGatunekLi:link {}

.curGatunekLi:visited {}

.curGatunekLi:hover {}

.gatunekLi {
    color: black;
}

.gatunekLi:link {}

.gatunekLi:visited {}

.gatunekLi:hover {}

#window {
    width: 50%;
    height: 90%;
	box-sizing: border-box;
    float: left;
    margin-right: 25%;
    /*background-color: red;*/
	border-right: 4px solid #466031;
	background: #eae8dc;
}

.produktContainer {
    width: 100%;
    margin-top: 1%;
    height: calc(95% - 1%);
}

.produktTable {
    text-align: center;
    align-self: center;
}

.titleLink {
    color: black;
    text-decoration: none;
}

.pageList {
    height: 5%;
    width: 100%;
    text-align: center;
}

.curPageIndex {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.pageIndex {
    color: black;
    text-decoration: none;
}

#regForm {
    width: 100%;
}

footer {
    clear: both;
    height: 4%;
    width: 100%;
	box-sizing: border-box;
    /*background-color: orange;*/
    text-align: center;
	border-top: 4px solid #466031;
	background-color: #699148;
	color: #466031;
}

footer>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 0.95rem;
}